.main-listing-page {
  width: 80vw;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.main-listing-page.disabled {
  filter: grayscale(100%);
}
.active-category {
  margin: 50px 0 80px 0;
  font-family: "Raleway", sans-serif;
  display: flex;
  justify-self: flex-start;
  align-self: flex-start;
  font-family: "Raleway", sans-serif;
  font-size: 42px;
  font-weight: 400;
  line-height: 67.2px;
  text-align: left;
<<<<<<< HEAD
  width: 300px;
  margin-left: 100px;
=======
  width: 1440px;
>>>>>>> 0cdc6570b700a4dc64bb2b0afcb933b38903c2ab
}
.product-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 20px;
}

.product-item-inStock {
  flex: 0 0 33.3333%;

  justify-content: center;
  margin: 0;
  
}

.product-item-inStock:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.product-item-inStock .out-of-stock {
  display: none;
}
.product-item-outStock {
  flex: 0 0 33.3333%;
  justify-content: center;
  position: relative;
  margin: 0;
  
}
.product-item-outStock .out-of-stock {
  width: 100%;
  height: 100%;
  position: absolute;
}
.product-item-outStock .out-of-stock h2 {
  height: 100%;
  width: 100%;
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 38.4px;
  text-align: left;
  color: #8d8f9a;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

div div .product-image {
  object-fit: contain;
  width: 390px;
  height: 330px;
}

div div .product-attributes {
  width: 354px;
  height: 58px;
  margin: 0 7px;
}
.product-item-outStock img {
  opacity: 0.5;
}
.product-item-outStock .product-attributes {
  color: #8d8f9a;
}

@media screen and (max-width: 1500px) {
  .product-card {
    display: flex;
    position: relative;
    flex: 0 0 33.3333%;
    justify-content: center;
    margin: 0;
    
    
  }
  .main-listing-page {
    width: 95vw;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  
 
}
.product-card {
  display: flex;
  position: relative;
  flex: 0 0 33.3333%;
  justify-content: center;
  margin: 0;
}
.link {
  text-decoration: none;
  color: #1d1f22;
}

.parent {
  justify-content: center;
}

.quick-shop {
  position: absolute;
  width: 52px;
  height: 52px;
  bottom: 10%;
  right: 25%;
  box-shadow: 0px 4px 11px 0px #1d1f221a;
  background-color: #5ece7b;
  border-radius: 50%;
  border-color: transparent;
  display: none;
}

.quick-shop img {
  width: 24px;
  height: 24px;
  filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(279deg)
    brightness(104%) contrast(101%);
}

.link:hover + .quick-shop {
  display: block;
  z-index: 10000;
}
.quick-shop:hover {
  display: block;
  z-index: 10000;
}
